:root {
    --card-1-border: hsl(180, 62%, 55%);
    --card-2-border: hsl(0, 78%, 62%);
    --card-3-border: hsl(34, 97%, 64%);
    --card-4-border: hsl(212, 86%, 64%);
    --fonts1: hsl(234, 12%, 34%);
    --fonts2: hsl(229, 6%, 66%);
    --fonts3: hsl(0, 0%, 98%);
    --shadowColor: hsl(229, 6%, 66%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
.main-container {
    display: grid;
    place-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 3fr;
    width: 100%;
    min-height: 100vh;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 5px 0 5px;
}
.header #title {
    font-weight: 200;
    font-size: 1.5rem;
    color: var(--fonts2);
}
.header #sponsor {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--fonts1);
}
.header #description {
    font-weight: 400;
    color: var(--fonts2);
    text-align: center;
    padding: 0.9375rem 1.8rem 0.625rem 1.8rem;
}

/* ------------------------------------------------------ */

.cards-container {
    display: grid;
    justify-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 25px;
}
.card {
    display: flex;
    flex-direction: column;
    max-width: 18.75rem;
    min-height: 12.8125rem;
    padding: 20px 17px 0 20px;
    border-radius: 0.2rem;
    background-color: white;
}
.card h3 {
    font-weight: 600;
    color: var(--fonts1);
}
.card p {
    font-weight: 400;
    color: var(--fonts2);
}
.card1 {
    box-shadow: inset 0px 4px 0px 0px var(--card-1-border), 0px 5px 11px -6px var(--shadowColor);
    background: url(../images/icon-supervisor.svg) no-repeat;
    background-position: 93% 85%;
    background-size: 20%;
}
.card2 {
    box-shadow: inset 0px 4px 0px 0px var(--card-2-border), 0px 5px 11px -6px var(--shadowColor);
    background: url(../images/icon-team-builder.svg) no-repeat;
    background-position: 93% 85%;
    background-size: 20%;
}
.card3 {
    box-shadow: inset 0px 4px 0px 0px var(--card-3-border), 0px 5px 11px -6px var(--shadowColor);
    background: url(../images/icon-karma.svg) no-repeat;
    background-position: 93% 85%;
    background-size: 20%;
}
.card4 {
    box-shadow: inset 0px 4px 0px 0px var(--card-4-border), 0px 5px 11px -6px var(--shadowColor);
    background: url(../images/icon-calculator.svg) no-repeat;
    background-position: 93% 85%;
    background-size: 20%;
}

@media (min-width: 500px) and (max-width: 959px) {
    .header #description {
        width: 70%;
    }
}

@media (min-width: 960px) {
    .header {
        justify-content: flex-end;
    }
    .header #description {
        width: 66%;
    }
    .cards-container {
        grid-template-columns: 18.75rem 18.75rem 18.75rem;
        grid-template-areas:
        "card1 card2 card4"
        "card1 card3 card4"
        ;
        place-content: center;
        justify-content: center;
    }
    .card1 {
        grid-area: card1;
        align-self: center;
    }
    .card2 {
        grid-area: card2;
        align-self: center;
    }
    .card3 {
        grid-area: card3;
        align-self: center;
    }
    .card4 {
        grid-area: card4;
        align-self: center;
    }
}